.accordion-enter-active,
.accordion-leave-active {
  transition: max-height 0.4s ease, opacity 0.4s ease;
}
.accordion-enter-from,
.accordion-leave-to {
  max-height: 0;
  opacity: 0;
}
.accordion-enter-to,
.accordion-leave-from {
  max-height: 500px;
  opacity: 1;
}
